/* Denise M. Gilbert
ASD Term 1304
Project 2
April 18, 2013
style.css Page*/

header {
	text-align: center;
}

.ui-header {
	background: #581E59;
	border-color: #581E59;
	padding-top: 5px;
}

h1 {
	color: #3B74BF;
	font-size: x-large;
	text-align: center;
}

h2 {
	color: #FFFFFF;
	font-style: italic;
	font-size: medium;
	font-weight: normal;
}

#jsonPage p {
	font-size: medium;
}

#csvPage p {
	font-size: medium;
}

ul {
    list-style-type: none;
    margin: 2px;
    padding: 2px;
}

#requiredNote {
	color: red;
	font-size: medium;
	text-align: center;
}

label.error { 
	float: left; 
	color: red; 
	padding-top: .5em; 
	vertical-align: top; 
	font-weight: bold
}

#jsonAlert {
	font-weight: bold;
	text-align: center;
}

#remindersPage .ui-bar-b {  /* List Divider */
	background: #3B74BF;
	border-color: #3B74BF;
}

#remindersPage .ui-header {
	background: #581E59;
	border-color: #581E59;
	padding-top: 5px;
}

.ui-btn {
	background: #772B8C;
	border-color: #581E59;
	color: white;
	text-shadow: none;
}

.ui-btn-active {
	background: #581E59;
	border-color: #581E59;
}

.ui-footer {
	background: #581E59;
	border-color: #581E59;
}

.ui-page {
	background: transparent;
}

#zodiacSignsPage .ui-btn {
	background: #581E59;
	border-color: #581E59;
	color: white;
	text-shadow: none;
	
}

#zodiacSignsPage .ui-btn-active {
	background: #772B8C;
	border-color: #581E59;
	color: white;
	text-shadow: none;
	
}

#zodiacSignsPage .ui-btn .listviewLinks {
	background: #581E59;
	border-color: #581E59;
	color: white;
	font-weight: normal;
	text-shadow: none;
}

.giftType { /* Reminders List Font Type/Spacing */
	color: #000000;
	font-size: medium;
	font-style: italic;
	margin-top: 5px;
	text-align: center;
}

.listviewImages {
	padding-left: 10px;
}

#jsonAlert h1 {
	color: white;
}

#addRecipientErrors h1 {
	color: white;
}

#addRecipientErrors li {
	font-size: large;
	text-align: center;
}

#addRecipient .ui-btn {
	background: #581E59;
	border-color: #581E59;
	color: white;
	text-shadow: none;
	
}

#addRecipient .ui-btn-active {
	background: #772B8C;
	border-color: #581E59;
	color: white;
	text-shadow: none;
	
}
#zodiacSignsPage .ui-btn .listviewLinks {
	background: #581E59;
	border-color: #581E59;
	color: white;
	font-weight: normal;
	text-shadow: none;
}

#showAll a {
	text-decoration: none;
}

#showAll h2 {
	color: #581E59;
	font-size: larger;
	font-weight: bold;
	padding-left: 15px;
}

#showAll p {
	margin-left: 10px;
}

#showAll table {
	color: #000000;
    width: 100%;    
    margin-left: 10px;
    padding: 0px; 
}

#showAll .ui-btn .listviewLinks {
	background: #581E59;
	border-color: #581E59;
	color: white;
	text-shadow: none;
}

#editButton {
	margin-left: 15px;
}

#deleteButton {
	margin-left: 15px;
}

#addRecipientErrorsLink {
	display: none;
}